<template>
    <v-carousel color="white" active-color="primary" class="rounded h-100">
        <v-carousel-item eager v-for="(img, index) in images" :key="index"
            :src="img"
            cover
        ></v-carousel-item>
    </v-carousel>
</template>

<script lang="ts">
import type { PropType } from 'vue';
export default {
    props: {
        images: {
            type: Array as PropType<string[]>,
            required: true
        }
    }
}
</script>