<template>
    <div class="d-flex flex-column">
        <h1 :style="$vuetify.display.lgAndUp ? 'font-size: 2.1rem' : 'font-size: 1.6rem; line-height: normal'" class="text-text">{{elemento.activity.name}}</h1>
        <p class="mt-2 font-weight-light p-font-size text-text">{{ elemento.activity.description }}</p>
        <div class="d-flex mt-5">
            <v-icon color="text" class="mr-2" :icon="elemento.activity.participants > 1 ? 'mdi-account-multiple' : 'mdi-account'"></v-icon>
            <p class=" text-text">{{ elemento.activity.subtitle }}</p>
        </div>
        <div class="d-flex my-5">
            <v-icon color="text" class="mr-2" icon="mdi-map-marker-outline"></v-icon>
            <p class=" text-text">{{elemento.activity.locations[0].province}}</p>
        </div>
        <p class="font-weight-regular text-h5 my-auto text-text">{{elemento.bigbox_points}} puntos</p>
    </div>
</template>

<script lang="ts">
export default {
    props: {
        elemento: {
            type: Object,
            required: true
        }
    },
}
</script>