<template>
    <section class="d-flex flex-wrap flex-md-row">
        <div  style="max-height: 500px; height:auto" class="mx-auto px-0" :class="'v-col-' + carouselBodySize()">
          <CarouselComp :images="elemento.activity.image"/>
        </div>
        <div :class="$vuetify.display.smAndDown ? 'w-100 pt-6' : 'w-50 pl-9'" class="d-flex flex-column">
          <DatosIniciales :elemento="elemento" />
        </div>
    </section>
</template>

<script lang="ts">
import CarouselComp from './CarouselComp.vue';
import DatosIniciales from './DatosIniciales.vue';
export default {
    props: {
        elemento: {
            type: Object,
            required: true
        }
    },
    components: {
      CarouselComp,
      DatosIniciales
    },
    methods: {
      carouselBodySize() {
        if (this.$vuetify.display.xs) return '12'
        if (this.$vuetify.display.sm) return '10'
        return '6'
      }
    }
}
</script>