<template>
    <section class="mt-12">
        <div class="mt-6">
          <h3 :style="borderStyle" class="font-weight-bold text-text pb-1 px-3">¿Que incluye?</h3>
          <span class="d-block" style="border-bottom: solid #88888888 1.5px; transform: translateY(-1.5px)"></span>
          <p class="mt-6 p-font-size text-alterText" v-html="elemento.activity.benefits"></p>
          <p class="mt-6 p-font-size text-alterText" v-html="elemento.activity.know_what"></p>
        </div>
        <div class="my-12" v-if="elemento.activity.small_print">
          <div class="d-flex">
            <v-icon size="large" color="text" class="mr-2 my-auto" icon="mdi-file-document-outline"></v-icon>
            <h3 :style="$vuetify.display.lgAndUp ? 'font-size: 1.4rem' : 'font-size: 1.3rem'" class="text-text">Reglas:</h3>
          </div>
          <p class="mt-6 p-font-size text-alterText">{{ elemento.activity.small_print }}</p>
        </div>
    </section>
</template>

<script lang="ts">
export default {
    props: {
        elemento: {
            type: Object,
            required: true
        }
    },
    computed: {
        borderStyle() {
            let fontStyle = this.$vuetify.display.lgAndUp ? 'font-size: 1.4rem;' : 'font-size: 1.3rem;'
            return fontStyle + 'border-bottom: 3px solid '+ this.$vuetify.theme.current.colors.primary +' ; width: fit-content'
        }
    }
}
</script>