<template>
  <section>
    <h2 :style="$vuetify.display.lgAndUp ? '' : 'font-size: 1.4rem'" class="text-text">Otras actividades similares:</h2>
    <div class="d-flex flex-wrap mt-6">
      <slot></slot>
    </div>
  </section>
</template>