<template>
  <BodyLayout>
    <v-btn color="primary" class="mb-6" @click="goBack()" style="font-size: 1.35rem" variant="text" icon="mdi-arrow-left"></v-btn>
    <div v-if="element">
      <InfoInicial :elemento="element"/>
      <InfoDetalle :elemento="element"/>
      <OtrasActividades>
        <ActividadColElement :elemento="element" :size="actividadSize()" v-for="(element, index) in actividadesSimilares" :key="index" />
      </OtrasActividades>
    </div>
  </BodyLayout>
</template>

<script lang="ts">
import BodyLayout from '@/layouts/BodyLayout.vue'
import ActividadColElement from '@/components/common/ActividadColElement.vue';
import InfoInicial from '@/components/modules/actividad/InfoInicial.vue'
import InfoDetalle from '../components/modules/actividad/InfoDetalle.vue';
import OtrasActividades from '../components/modules/actividad/OtrasActividades.vue';
import { actividadesController } from '@/controller/ActividadesController';
import type { ActividadDetalleParsed } from '@/controller/ExternalTypes';


interface ActividadViewData {
  element: ActividadDetalleParsed | null
  actividadesSimilares: ActividadDetalleParsed[]
}

export default {
  data(): ActividadViewData {
    return {
      element: null,
      actividadesSimilares: [],
    }
  },
  components: {
    BodyLayout,
    ActividadColElement,
    InfoInicial,
    InfoDetalle,
    OtrasActividades
  },
  methods: {
    goBack() {
      this.$router.push({ name: 'actividades' })
    },
    actividadSize() {
      if (this.$vuetify.display.xs) return '11'
      if (this.$vuetify.display.mdAndDown) return '6'
      return '3'
    },
    callEndpoint(id: number) {
      actividadesController.getActividad(id,
        (response: ActividadViewData) => {
          this.element = response.element
          this.actividadesSimilares = response.actividadesSimilares
        },
        (errorResponse: Object) => {
          console.log('error => ' + errorResponse)
        }
      )
    }
  },
  mounted() {
    if (typeof this.$route.params.id == 'string') {
      this.callEndpoint(parseInt(this.$route.params.id))
    } else {
      alert('Error with id number')
    }
  }
}
</script>
