<template>
  <BodyLayout>
    <ListadoWrapper>
      <ActividadColElement :elemento="element" :size="actividadSize()" v-for="(element, index) in elements" :key="index" />
    </ListadoWrapper>
    <v-pagination class="mt-auto" v-model="page" active-color="primary" rounded="circle" :size="$vuetify.display.xs ? 'x-small' : 'small'" variant="elevated" :total-visible="$vuetify.display.xs ? 4 :8" :length="24"></v-pagination>
  </BodyLayout>
</template>

<script lang="ts">
import BodyLayout from '@/layouts/BodyLayout.vue'
import ActividadColElement from '@/components/common/ActividadColElement.vue';
import ListadoWrapper from '@/components/modules/actividades/ListadoWrapper.vue';
import type { ActividadDetalleParsed } from '../controller/ExternalTypes'
import { actividadesController } from '@/controller/ActividadesController'
interface ActividadesViewData {
  page: number,
  elements: ActividadDetalleParsed[]
}

export default {
  data(): ActividadesViewData {
    return {
      page: 1,
      elements: []
    }
  },
  components: {
    BodyLayout,
    ActividadColElement,
    ListadoWrapper
  },
  methods: {
    actividadSize() {
      if (this.$vuetify.display.xs) return '11'
      if (this.$vuetify.display.sm) return '6'
      return '4'
    },
    callEndpoint() {
      actividadesController.getActividades(this.page,
        (response: ActividadDetalleParsed[]) => {
          this.elements = response
        },(errorResponse: Object) => {
          console.log('error => ' + errorResponse)
        }
      )
    },
  },
  watch: {
    page() {
      this.elements = []
      this.callEndpoint()
    }
  },
  mounted() {
    this.callEndpoint()
  }
}
</script>
