<template>
    <article style="height:fit-content" class="mb-3 mx-auto d-flex flex-column" :class="size ? 'v-col-' + size : 'v-col-auto'">
        <div style="max-width: 400px; min-width: 175px" class="cursor-pointer mx-auto w-100 d-flex flex-column" @click="enterActivity(elemento.activity.id)">
            <v-img style="height: 250px" class="rounded flex-grow-0 flex-shrink-0" cover :src="selectRandomPicture(elemento.activity.image)"></v-img>
            <div class="d-flex flex-column">
                <div class="mt-4 w-100 font-weight-bold d-flex justify-space-between">
                    <p class="text-text">{{elemento.activity.name}}</p>
                    <v-icon color="primary" :size="$vuetify.display.xlAndDown ? 'small' : 'default'" style="margin-top: 2px" class="ml-2" :icon="elemento.activity.participants > 1 ? 'mdi-account-multiple' : 'mdi-account'"></v-icon>
                </div>
                <div class="my-2 d-flex">
                    <v-icon color="primary" size="x-small" class="mr-1 my-auto" icon="mdi-map-marker-outline"></v-icon>
                    <p class="text-subtitle-2 text-text">{{elemento.activity.locations[0].province}}</p>
                </div>
                <p class="text-subtitle-2 mb-3 text-alterText">{{elemento.activity.description}}</p>
            </div>
            <p class="font-weight-bold mt-auto text-text">{{elemento.bigbox_points}} puntos</p>
        </div>
    </article>
</template>

<script lang="ts">
export default {
    props: {
        size: {
            type: String,
        },
        elemento: {
            type: Object,
            required: true
        }
    },
    data() {
        return {}
    },
    methods: {
        selectRandomPicture(imagesArray: string[]) {
            if (imagesArray.length > 0) return imagesArray[Math.floor(Math.random() * imagesArray.length)]
            console.debug('No contiene elementos para seleccionar')
            return ''
        },
        enterActivity(id: number) {
            this.$router.push({ name: 'actividad', params: { id: id } })
        },
    },
}
</script>