*,
*::before,
*::after {
  box-sizing: border-box;

}
*::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 1.1rem;
}

#app {
  width: 100%;
  height: 100%;
}

.p-font-size {
  font-size: 1.1rem;
}

.cursor-pointer {
  cursor: pointer;
}